@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    margin-top: 2rem;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0.5rem 1.5rem;
    list-style: none;
}

nav ul li a {
    color: #000;
    font-size: 1.15rem;
    text-decoration: none;
}


.completed {
    text-decoration: line-through;
}

.err {
    color: red;
}

.statistics {
    margin-top: 1.5rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

.statistics h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.statistics p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.history {
    margin-top: 1rem;
    padding: 0;
    list-style: none;
}

.history li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}